<div class="add-item-page">
    <div class="header">
        <div class="header-button-container" (click)="goToList()">
            <img class="back" alt="back arrow" src="../../assets/images/back.png" />
        </div>
        <h1>Add Item</h1>
        <div class="header-button-container hide">
            <img class="plus" alt="addition sign" src="../../assets/images/plus.png" />
        </div>
    </div>
    <form (ngSubmit)="addNewItem()">
        <label for="newItemName">Name:</label>
        <input type="text" [(ngModel)]="newItemName" id="newItemName" name="newItemName" placeholder="New item" required >
        <label for="newItemQuantity">Quantity:</label>
        <input type="number" [(ngModel)]="newItemQuantity" id="newItemQuantity" name="newItemQuantity" placeholder="1" >
        <label for="newItemNote">Note:</label>
        <textarea [(ngModel)]="newItemNote" id="newItemNote" name="newItemNote" placeholder="Example: Get the name brand"></textarea>
        <button type="submit" class="green-button">Add Item</button>
    </form>
</div>