<div class="add-item-page">
    <div class="header">
        <div class="header-button-container" (click)="goToList()">
            <img class="back" alt="back arrow" src="../../assets/images/back.png" />
        </div>
        <h1>Add Item</h1>
        <div class="header-button-container hide">
            <img class="plus" alt="addition sign" src="../../assets/images/plus.png" />
        </div>
    </div>
    <form (ngSubmit)="addNewItem()">
        <label for="newList">Name:</label>
        <input type="text" [(ngModel)]="newItemName" id="newItemName" name="newItemName" placeholder="New item" required >
        <button type="submit" class="green-button">Add Item</button>
    </form>
</div>