.landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../../assets/images/fruitsandveggies.png');
    background-position: bottom;
    background-size: contain;
}

.landing-page .logo-container {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
    margin-top: 6em;
    background-color: #1A3848;
    padding: 1rem;
    border-radius: 100%;
}

.landing-page .logo-container img {
    width: 100%;
}

.landing-page h1 {
    margin: 0rem;
}

.landing-page h2 {
    color: #617986;
}